addons/structured_addon/__pycache__/__init__.cpython-310.pyc
addons/structured_addon/__pycache__/operators.cpython-310.pyc
addons/structured_addon/__pycache__/preferences.cpython-310.pyc
addons/structured_addon/__pycache__/panel.cpython-310.pyc
addons/structured_addon/__pycache__/_refresh_.cpython-310.pyc
